@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

}

.form {
  background: linear-gradient(0deg, #ffffff, #F0F0F0 0%, #fcfcfc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13vh;
}

#inputsTextoYFecha {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#inputTexto {
  margin-right: 10px;
}

.input {
  border-radius: 3px;
  background-color: white;
  box-shadow: 2px 2px 3px #16213ea8;
}


.datePickerHome {
  border-radius: 3px;
  width: 100%;
  height: 40px;
  background-color: white;
  box-shadow: 2px 2px 3px #16213ea8;
  padding-left: 12px;
  border-style: groove;
  border-color: #c2c2c2;
  border-width: 1px;

}


Button.btnBuscar {
  height: 40px;
  text-transform: none;
  color: #ffffff;
  border-radius: 3px;
  background-color: #16213e;
  box-shadow: 2px 2px 3px #16213ea8;
}

Button.btnBuscar:hover {
  background-color: #e94560;
}

.date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

/* ========================MEDIAS=============================== */
@media screen and (max-width: 769px) {
  #stepper {
    margin-top: 5vh;
  }
  #inputsTextoYFecha {
    width: 80vw ;
  }
  #inputTexto {
    margin-right: 0px;
  }
}

@media screen and (max-width: 426px) {
  #stepper {
    margin-top: 3vh;
  }

  #inputsTextoYFecha {
    width: 80vw ;
  }

  #dateGrid {
    margin-top: 15px;
  }

  button.btnBuscar {
    width: 33%;
    margin-top: 5px;
  }

  .carousel-container div {
    height: 47vh;
  }

  #inputTexto {
    margin-right: 0px;
  }
}