@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,500;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.datePickerHome:hover{
    border-color: black;
  }
.datePickerHome::placeholder {
    font-size: 16px;
    color:rgb(163, 162, 162)
  }





