@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

/*.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    margin: 2.5vh 0;
    cursor: pointer;
}
.tarjeta:hover {
    box-shadow: 0px 4px 8px 1px #16213e82;
}*/


/*.media {
    margin-top: 55px;
    height: 150px;
    width: auto;
}

/*.typo {
    color: #16213E;
    justify-content: center;
    text-align: center;
}*/

