@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
}

.categoria {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    padding-top: 3vh;
    height: auto;
    /*background-color: #16213e91;*/
    background: #16213e91;
    background: linear-gradient(0deg, #ffffff 1%, #c8c9ca 19%);
}

.catego {
    background-color: #16213e;
    border-radius: 3px;
    text-align: center;
    padding-bottom: 7px;
}

img {
    border-radius: 3px 3px;
    height: auto;
    width: 15rem;
    transition: 0.5s;
}

.categoria :hover {
    background-color: #e94560;
    transition: 1s;
}

h3 {
    color: #ffffff;
}

h3:hover {
    color: #a9a7a7;
    font-size: 20px;
}


@media screen and (max-width: 1260px) {
    .categoria{
        gap: 30px;
    }
    img {
        height: auto;
        width: 25rem;
    }
}

@media screen and (max-width: 846px) {
    .categoria{
        gap: 30px;
    }

}