@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

AppBar {
  font-style: oblique;
  height: 90px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.toolBar {
  background: #16213e;
  height: 6em;
  width: 0 auto;
  display: flex;
  justify-content: space-between;
}

.toolBar .menu {
  display: none;
}

.hambur{
  margin-top: 4em;
}

.toolBar .botones {
  display: flex;
}

.toolBar .boton {
  background-color: #ffffff;
  color: #16213e;
  margin-right: 10px;
  text-align: center;
  text-transform: none;
  width: auto;
}

.toolBar .boton:hover {
  background-color: gray;
}

.header-text.show {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-text {
  white-space: pre;
  /* Preservar espacios en blanco */
}

.lema{

position: absolute;
left: 33vw;
}


.header-text span {
  display: inline-block;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.header-text span:nth-child(1) {
  animation-delay: 0.1s;
}

.header-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.header-text span:nth-child(3) {
  animation-delay: 0.3s;
}

.header-text span:nth-child(4) {
  animation-delay: 0.4s;
}

.header-text span:nth-child(5) {
  animation-delay: 0.5s;
}

.header-text span:nth-child(6) {
  animation-delay: 0.6s;
}

.header-text span:nth-child(7) {
  animation-delay: 0.7s;
}

.header-text span:nth-child(8) {
  animation-delay: 0.8s;
}

.header-text span:nth-child(9) {
  animation-delay: 0.9s;
}

.header-text span:nth-child(10) {
  animation-delay: 0.10s;
}

.header-text span:nth-child(11) {
  animation-delay: 0.11s;
}

.header-text span:nth-child(12) {
  animation-delay: 0.12s;
}

.header-text span:nth-child(13) {
  animation-delay: 0.13s;
}

.header-text span:nth-child(14) {
  animation-delay: 0.14s;
}

.header-text span:nth-child(15) {
  animation-delay: 0.15s;
}

.header-text span:nth-child(16) {
  animation-delay: 0.16s;
}

.header-text span:nth-child(17) {
  animation-delay: 0.17s;
}

.header-text span:nth-child(18) {
  animation-delay: 0.18s;
}

.header-text span:nth-child(19) {
  animation-delay: 0.19s;
}

.header-text span:nth-child(20) {
  animation-delay: 0.3s;
}

.botonadmin, .name {
  text-decoration: none;
  color: #16213e;
}


#title{
  display: flex;
  flex-direction: column;
}


/* ========================MEDIAS=============================== */
  
@media screen and (max-width: 999px){
  .toolBar .botones {
    display: none;
  }
  .toolBar .menu {
    display: flex;
    width: 60px;
    height: 40px;
  }

  .toolBar .header-text {
    display: none;
  }

}

@media screen and (max-width: 800px) {
  .toolBar .botones {
    display: none;
  }

  .toolBar .menu {
    display: flex;
    width: 60px;
    height: 40px;
  }

  .toolBar .header-text {
    display: none;
  }
}
