/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.contain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #dddddd;
    box-shadow: 0px 0px 4px 2px #000000;
    padding: 20px 50px;
    width: 0 auto;
}

.contain .grafi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'system-ui';
    color: #16213E;
}

@media screen and (max-width: 700px) {
    .contain {
        margin-top: 50%;
    }
}

@media screen and (max-width: 516px) {
    .contain {
        margin-top: 190%;
    }
}*/
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }


@media screen and (max-width: 600px) {
    #random10-container .recomendados{    
        font-size: 22px;
    }
}

  