@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato';
}

.form-register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #c6c6c6fd;
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.register .input {
    border-radius: 5px;
    max-width: 20vw;
}

.register .graphy {
    background-color: #16213e;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    width: 50vw;
}

Button.registrarse {
    border-radius: 3px;
    width: 8vw;
    text-transform: none;
}

@media screen and (max-width: 1300px) {
    .form-register .input{
        max-width: 25vw;
    }
    .register .registrarse{
        width: 6rem;
    }   
}

@media screen and (max-width: 1000px) {
    .register{
        width: 50vw;
    }
    .form-register .input{
        max-width: 30vw;
    }  
    .register .registrarse{
        width: 6rem;
    }
}

@media screen and (max-width: 960px) {
    .register{
        width: 60vw;
    }
    .form-register .input{
        max-width: 30vw;
    }   
}
@media screen and (max-width: 767px) {
    .register{
        width: 60vw;
    } 
    .form-register .input{
        max-width: 40vw;
    } 
    
}
@media screen and (max-width: 560px) {
    .register{
        width: 80vw;
    } 
    .form-register .input{
        max-width: 60vw;
    } 
    h4{
        text-align: center;
    } 
   
}
