.selected {
    background-color: white;
    color: #16213e !important;
}

.selected .icons {
    display: none;
}

.selected .icons-selected {
    color: #e94560 !important;
}

.icons {
    display: none !important;
}

/*#typos{
    display: none;
}*/

@media screen and (max-width: 2500px) {

    .produ-box {
        margin-left: -20vh;
    }

    .box-modificar{
        width: 70% !important;
    }

    .botones-editeliminar{
        justify-content: flex-end !important;
    }

}

@media screen and (max-width: 1188px) {

    .produ-box {
        margin-left: 0vh;
    }

    .box-modificar{
        width: 100% !important;
    }

}

@media screen and (max-width: 1097px) {

    .panel-title {
        display: none;
    }

    .paneladmin {
        width: 180px;
    }


}

@media screen and (max-width: 963px) {
    .productos-box {
        margin-left: "300px" !important
    }
}

@media screen and (max-width: 840px) {

    .paneladmin {
        width: 120px;
    }


}

@media screen and (max-width: 420px) {

    .produ-box {
        margin-left: -2vh;
    }

    .paneladmin {
        width: 60px;
        align-content: center !important;
    }

    .icons {
        display: flex !important;
    }

    #typos {
        display: none
    }
    .box-modificar{
        width: 120% !important;
    }

    .botones-editeliminar{
        justify-content: center !important;
    }

}